@font-face {
  font-family: "VenusRising";
  src: local('VenusRising'),
    url('../fonts/VenusRising.woff2') format('woff2'),
    url('../fonts/VenusRising.woff') format('woff');
}






html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "VenusRising", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: black;
  overflow-x: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 50px;
}


/* header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.header {
  background-color: #fff;
}




.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 80px;
}



.header__item__link {
  color: indigo;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  white-space: nowrap;
}






.header__item__link::before {
  content: '';
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  background-color: mediumslateblue;
  height: 5px;
  width: 100%;
  opacity: 0;
}

.header__item__link:hover::before {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.header__item__link:hover {
  color: mediumslateblue;
  transition: color 0.2s ease-in-out;
}


/* hero\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.hero {
  border-bottom: 3px solid silver;

}

.title {
  margin-top: 100px;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  color: silver;
}

.hero-title {
  font-size: 28px;
  font-weight: 500px;
  color: cornflowerblue;
  margin-top: 90px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  line-height: 35px;
  ;
}

.hero-descr {
  font-size: 16px;
  color: silver;
  line-height: 180%;
  text-align: center;
  font-weight: 900;

}

.parent {
  display: flex;
  margin-bottom: 100px;
}



.child {
  width: calc(100% / 2);
  padding: 50px;
}

.child-1__content {
  padding: 50px;
}

.child-2 {
  background-image: url(../img/hero-block3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* services\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.services {
  margin-top: 100px;
  background-color: black;
  margin-bottom: 100px;
}

.services__title {
  font-weight: 900;
  font-size: 30px;
  color: mediumslateblue;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 0;
}




.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  width: 45%;
  max-height: 500px;
}



.item__title {
  font-size: 20px;
  color: cornflowerblue;
  margin: 0;
  padding: 25px;
  text-align: center;
}

.item__descr {
  font-size: 14px;
  color: silver;
  margin: 0;
  padding: 25px;
  padding-top: 0;
  text-align: center;
  line-height: 150%;
}

.item-1 {
  border: 5px solid silver;
  border-radius: 50px;
}

.item-1:not(:last-child) {
  margin-bottom: 30px;
}

.services__item-1 {
  background-image: url(../img/about-us-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 100px;

}

.services__item-2 {
  background-image: url(../img/services-image2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 100px;
  margin-top: 30px;
}

.services__item-3 {
  background-image: url(../img/services-picture-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
  background-position: center;
  margin-bottom: 0;
  margin-top: 50px;
}


/* about-us //////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.about {
  margin-bottom: 100px;
  border-top: 3px solid silver;
}


.about__title {
  font-weight: 900;
  font-size: 30px;
  color: mediumslateblue;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 125px;
}

.about__block {
  background-image: url(../img/about-us-main.png);
  background-repeat: no-repeat;
  height: 600px;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: row-reverse;
}



.about__block-top-descr {
  color: silver;
  font-size: 14px;
  padding-bottom: 40px;
  max-width: 800px;
  margin: 0;
  line-height: 170%;
}

.about__descr {
  color: silver;
  font-size: 16px;
  margin-top: 30px;
  line-height: 190%;
  margin-bottom: 70px;
}


/* faq ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.faq {
  margin-top: 100px;
  margin-bottom: 200px;
  border-top: 3px solid silver;
}


.faq__title {
  font-weight: 900;
  font-size: 30px;
  color: mediumslateblue;
  text-align: center;
  margin-bottom: 120px;
  margin-top: 150px;
}



.faq__item {
  border-top: 3px solid silver;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.faq__item:last-child {
  border-bottom: 3px solid silver;
}

.faq__item:hover {
  border-top: 3px solid mediumslateblue;
}

.faq__item:hover+.faq__item {
  border-top: 3px solid mediumslateblue;
}

.faq__item:last-child:hover {
  border-bottom: 3px solid mediumslateblue;
}


.faq__item:hover .faq__item__title {
  color: mediumslateblue;
}



.faq__item:hover .faq__svg {
  fill: silver;
  stroke: black;
}

.faq__item__block {
  display: flex;
  align-items: center;
}

.faq__item__title {
  color: silver;
  font-size: 18px;
  margin-top: 30px;
  line-height: 50px;
  padding: 15px 10px;
  margin: 0;
}

.faq__item__descr {
  display: block;
  width: 80%;
  color: silver;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-left: 10px;
}


.faq__svg {
  fill: mediumslateblue;
  margin-left: auto;
  width: 50px;
  height: 50px;
}

path {
  fill: #fff;
}

.faq__svg {


}

.ui-accordion-header-active  .faq__svg {
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}





/* contacts////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.contacts {
  margin-bottom: 100px;
  border-bottom: 3px solid silver;
}


.contacts__title {
  font-weight: 900;
  font-size: 30px;
  color: mediumslateblue;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.contacts__list {
  display: flex;
  margin-bottom: 100px;
}

.contacts__item {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__item__title {
  color: silver;
  font-size: 20px;
  margin: 0;
  color: cornflowerblue;
  margin-bottom: 55px;


}

.contacts__descr {
  color: silver;
  font-size: 14px;
  margin: 0;
  text-align: center;
  line-height: 150%;
}

.contacts__tel {
  color: silver;
  font-size: 16px;
  display: block;
  text-align: center;
  line-height: 150%;
  position: relative;
}

.contacts__tel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  left: 0;
  background-color: aqua;
  opacity: 0;
}

.contacts__tel:hover:before {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}



.contacts__tel:hover {
  color: aqua;
  transition: color 0.3s ease-in-out;
}

.contacts__svg {
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}

/* footer////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.footer {
  margin-bottom: 100px;
  background-color: rgba(2, 2, 2, 0.075);

}

.footer__title {
  font-weight: 900;
  font-size: 28px;
  color: cornflowerblue;
  margin-top: 0;
}

.footer__parent {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}



.form__button {
  display: flex;
  justify-content: center;
}

.footer__list {
  margin-top: 100px;
}

.footer__items:not(:last-child) {
  margin-bottom: 30px;
}

.footer__links {
  font-weight: 600;
  font-size: 16px;
  margin-right: 100px;
  color: cornflowerblue;
  position: relative;
}

.footer__links::before {
  content: '';
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  background-color: aqua;
  height: 5px;
  width: 100%;
  opacity: 0;
}

.footer__links:hover::before {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.footer__links:hover {
  color: aqua;
  transition: color 0.2s ease-in-out;
}





.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.input {
  background-color: #888;
  padding: 20px 0 20px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  border: none;
  max-width: 570px;
}

.input:hover {
  background-color: silver;
  transition: all 0.2s ease-in-out;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

.textarea {
  resize: none;
  background-color: #888;
  padding: 25px;
  border-radius: 20px;
  padding-bottom: 70px;
  cursor: pointer;
  font-size: 14px;
  max-width: 570px;
}

.textarea:hover {
  background-color: silver;
  transition: all 0.2s ease-in-out;
}

.form__btn {
  padding: 15px 50px;
  color: cornflowerblue;
  font-size: 13px;
  border: 10px solid cornflowerblue;
  border-radius: 24px;
}

.form__btn:active {

  background-color: silver;
  transition: all 0.2s ease-in-out;
}

.form__btn:hover {
  border: 10px solid aqua;
  color: aqua;
  transition: all 0.2s ease-in-out;
}

.footer__right {
  display: flex;
  align-items: center;
}

.right__descr {
  color: silver;
  font-size: 14px;
  margin: 0;
  max-width: 500px;
  line-height: 170%;
}

.footer__svg {
  margin-top: 125px;
}

.footer__svg__link:not(:last-child) {
  margin-right: 25px;
}

.svg__items {
  fill: silver;

}

.svg__items .path {
  stroke: white;
}





.svg__items-1 path:hover {

  fill: aqua;
  transition: fill 0.2s ease-in-out;
}

.svg__items-2 path:hover {
  fill: #4267B2;
  transition: fill 0.2s ease-in-out;
}

.svg__items-3 path:hover {
  fill: #25D366;
  transition: fill 0.2s ease-in-out;
}


.burger{
  display: none;
}
